<div class="form-container">
  @if (!isDeleted() && !isError()) {
  <div class="form-card">
    <h3><span class="icon">🗑️</span> Eliminar Rol del Sistema</h3>

    <div class="form-group full-width">
      <label>Selecciona el rol que deseas eliminar:</label>
      <select class="custom-select" (change)="onSeleccionarRol($event)">
        <option value="" [disabled]="!estadoIncial()">-- Seleccionar rol --</option>
        @for (rol of roles(); track rol.id) {
        <option [value]="rol.id">{{ rol.name }}</option>
        }
      </select>
    </div>
  </div>
  }

  @else if (isError()) {
  <div class="success-card" style="border-top: 6px solid #F9A825;">
    <div class="success-content">
      <div class="success-icon">⚠️</div>
      <h2 style="color: #2C3E50;">No se puede eliminar</h2>

      <div class="info-box">
        <p>{{ errorMessage() }}</p>
        <p style="font-size: 0.85rem; margin-top: 10px; color: #666;">
          Asegúrate de que no existan empleados vinculados a este perfil antes de borrarlo.
        </p>
      </div>

      <button class="btn-back" (click)="finalizar()">
        Entendido
      </button>
    </div>
  </div>
  }

  @else if (isDeleted()) {
  <div class="success-card">
    <div class="success-content">
      <div class="success-icon">🗑️</div>
      <h2>Rol Eliminado</h2>
      <div class="info-box">
        <p>El registro ha sido borrado correctamente de <strong>CASA DESCANSO</strong>.</p>
      </div>
      <button class="btn-back" (click)="finalizar()">Volver a Roles</button>
    </div>
  </div>
  }
</div>

@if (mostrarAlerta()) {
<app-alert-popup [title]="'¿Estás seguro de eliminar este rol?'" [description]="rolSeleccionado().name"
  [aditional]="rolSeleccionado().description + '. \nEsta acción eliminará el registro de forma permanente.'"
  [button]="'Eliminar ahora'" (onClose)="recargarPagina()" (onConfirm)="confirmarEliminar()">
</app-alert-popup>
}