<div class="header-seccion">
        <div class="indicador"></div>
        <h1>Gestión de incidentes</h1>
</div>
<div class="menu-roles">
        <button routerLink="crear-incidencia" routerLinkActive="active-link"
                class="btn-menu btn-crear">Crear</button>

        <button routerLink="ver-incidencias" routerLinkActive="active-link" class="btn-menu btn-ver">Ver
                incidentes</button>
</div>

<div class="contenido-empleados mt-3">
        <router-outlet></router-outlet>
</div>