@if (showPopup()) {
<div class="floating-alert"><span>⚠️</span> {{ errorMessage() }}</div>
}

<div class="form-container">
  @if (!isRegistered()) {
  <form [formGroup]="turnoForm" (ngSubmit)="onSubmit()">
    <div class="form-card">
      <h3><span class="icon">⏰</span> Nuevo Turno Laboral</h3>

      <div class="grid-layout">
        <div class="form-group full-width">
          <label>Nombre del Turno *</label>
          <div class="input-container">
            <input formControlName="name" type="text" placeholder="Ej. Matutino Especial">
          </div>
        </div>

        <div class="form-group">
          <label>Hora de Inicio *</label>
          <input formControlName="startTime" type="time">
        </div>

        <div class="form-group">
          <label>Hora de Fin *</label>
          <input formControlName="endTime" type="time">
        </div>
      </div>
    </div>

    <div class="actions">
      <button type="button" class="btn-cancel" (click)="volver()">Cancelar</button>
      <button type="submit" class="btn-submit" [disabled]="turnoForm.invalid">Guardar Turno</button>
    </div>
  </form>
  }
  @else {
  <div class="success-card">
    <div class="success-content">
      <div class="success-icon">✨</div>
      <h2>Turno Creado con Éxito</h2>

      <div class="info-box">
        <p>El turno <strong style="color: #005BB5;">{{ turnoForm.value.name }}</strong> ha sido registrado...</p>
        <p class="horario-display">Horario: {{ turnoForm.value.startTime }} - {{ turnoForm.value.endTime }}</p>
      </div>

      <button class="btn-back" (click)="volver()">Volver a Turnos</button>
    </div>
  </div>
  }
</div>